body{
	margin: 0;
	border: 0;
	height: 100%;
	width: 100%;
}
a{
	
	/*border: 1px solid black;*/
}
#logo{
	width: 20%;
	height: auto;
	float: left;
	margin-left: 2%;
}
#fondlogo{
  position: absolute;
	height: 100px;
	width: 75%;
	margin-left: 25%;
	background: #2980b9;
  border-radius: 30px 0px 0px 30px;
  box-shadow: -5px 5px 10px 0px #cccccc;
  z-index: -1;
}
#eclat{
	float: left;
  width: 150px;
  height: auto;
  margin-left:4%; 
}

ul{
  list-style-type: none;
  margin: 0 0 0 50%;
  padding: 0;
}
li a{
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
  li{
  float: left;
  margin-top: 30px;
  } 

#square1 {
  background: #00aa9d;
  border-radius: 3px;
  height: 150px;
  margin: 100px;
  position: absolute;
  transition: all 0.4s;
  width: 150px;
  visibility: visible;
}
#square3 {
  background: #00aa9d;
  border-radius: 3px;
  height: 150px;
  margin: 100px 100px 100px 300px;
  position: absolute;
  transition: all 0.4s;
  width: 150px;
visibility: visible;
}

#square2 {
  background: #2b3f53;
  border-radius: 3px;
  height: 150px;
  margin: 100px;
  transition: all 0.4s;
  position: absolute;
  width: 150px;
  visibility: visible;
}

#square4 {
  background: #2b3f53;
  border-radius: 3px;
  height: 150px;
  margin: 100px 100px 100px 300px;
  transition: transform 0.8s;
  transition: all 0.8s;
  position: absolute;
  width: 150px;
 visibility: visible;
}

#spansec{
  color: #fff;
  line-height: 150px;
  padding: 0 10px;
  position: absolute;
}
#sec{
	visibility: hidden;
}

#sec p{
  position: absolute;
  margin:0;
  text-align: center;
  color: #fff;
  /*border: solid black 1px;*/
}
/*#sec2{
  height: 100%;
  width: 100%;
  visibility: hidden;
  transition: all 0.5s;
}
#sec2 p{
  height: auto;
  width: auto;
  text-align: center;
  background-color: #fff;
}*/
.lien{
  text-decoration: underline;
  color: #fff;
  /*border: solid black 1px;*/
}
#sectionlink{
  margin: 100px 0 0 43%;
  float: left;
}

.link-effect-11 a {
  color: #fff;
  margin: 0 20px;
  padding: 10px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  -moz-transition: ease-out 0.3s 0.1s;
  -o-transition: ease-out 0.3s 0.1s;
  -webkit-transition: ease-out 0.3s;
  -webkit-transition-delay: 0.1s;
  transition: ease-out 0.3s 0.1s;
}
.link-effect-11 a span::before {
  width: 100%;
  height: 2px;
  background: white;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.link-effect-11 a span::after {
  width: 100%;
  height: 2px;
  background: white;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.link-effect-11 a::before {
  width: 2px;
  height: 100%;
  background: white;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.link-effect-11 a::after {
  width: 2px;
  height: 100%;
  background: white;
  content: "";
  position: absolute;
  right: 0px;
  bottom: 0;
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.link-effect-11 a:hover {
  color: white;
}
.link-effect-11 a:hover::before, .link-effect-11 a:hover::after {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.link-effect-11 a:hover span::before, .link-effect-11 a:hover span::after {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}